@import "./common/var.css";


@b qk-toast{
	@e toast {
		font-size: --font-size;
		min-height: --toast-min-height;
		line-height: 1.8;
		display: flex;
		align-items: center;
		background: var(--toast-bg);
		
		border-radius: 4px;
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
		color: white;
		padding: 0 16px;
	}
	@e wrapper {
		left: 50%;
		position: fixed;
		transform: translateX(-50%);
		z-index: 999;
		&.position-top {
			top: 0;
			.qk-toast__toast {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				animation: slide-down 500ms;
			}
		}
		&.position-bottom {
			bottom: 0;
			.qk-toast__toast {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				animation: slide-up 500ms;
			}
		}
		&.position-middle {
			top: 50%;
			transform: translate(-50%, -50%);
			.qk-toast__toast {
				animation: fade 500ms;
			}
		}
	}
	@e line {
		height: 100%;
		border-left: 1px solid #666;
		margin-left: 16px;
	}
	@e close {
		padding-left: 16px;
		cursor: pointer;
		flex-shrink: 0;
	}
	@e message {
		padding: 6px 0;
	}
}
